.todo{
  max-width:1200px;
  width:100%;
  margin: 20px auto;
}

.task{
  display:flex;
  align-items: center;
  justify-content:flex-start;
}

.task p{
  margin-right:6px;
}

.task input{
  margin-right:6px;
}

.mr{
  margin-right:6px;
}
